# Arquivos Auxiliares LaTeX
**/*.aux
**/*.dvi
**/*.log
**/*.out
**/*.pdf
**/*.ps
**/*.synctex.gz
**/*.toc
**/*.bbl
**/*.blg

# Pacote igo de Diagramas
*.mf
*.tfm
*.600pk
igo.sty
repeat.tex
makefonts.bat
russian/

# Mac
**/.DS_Store
